%% == Erlang Compiler ==

{erl_opts, [
  debug_info,
  {parse_transform, lager_transform}
]}.


%% == Dependencies ==

{deps, [
        {lager, "3.2.1"},
        {mixer, "0.1.5", {pkg, inaka_mixer}},
        {cowboy_swagger, "1.2.1"},
        {jsx, "~> 2.8"}
       ]}.

%% == Cover ==

{cover_enabled, true}.

{cover_opts, [verbose]}.

%% == EDoc ==

{edoc_opts, [
             {report_missing_types, true},
             {source_path, ["src"]},
             {report_missing_types, true},
             {todo, true},
             {packages, false},
             {subpackages, false}
            ]}.

%% == Dialyzer ==

{dialyzer, [
            {plt_apps, top_level_deps},
            {plt_location, local}
           ]}.

%% == Release ==

{relx, [{release, {catalog, "0.0.1"},
         [catalog],
         [ {dev_mode, false}
         , {include_erts, true}
         ]},
        {sys_config, "rel/sys.config"},
        {vm_args, "rel/vm.args"},
        {extended_start_script, true},
        {overlay,
         [
          {copy, "./_build/default/lib/cowboy_swagger/priv/swagger", "priv/swagger"}
         ]
        }
       ]}.