[
  {catalog,
    [
      {http_port, 4000},
      {http_listener_count, 10}
    ]
  },

  {cowboy_swagger,
    [
      {static_files, "priv/swagger"},
      {global_spec,
        #{swagger => "2.0",
          info => #{title => "Catalog API"},
          basePath => ""
        }
      }
    ]
  },

  {
    lager,
    [
      {colored, true},
      {async_threshold, 200},
      {async_threshold_window, 5},
      {error_logger_hwm, 500},
      {handlers,
        [
          {lager_console_backend,
            [debug,
              {lager_default_formatter,
                [
                  color, time, " [", severity, "]",
                  " [", {module, ""}, ":", {function, ""}, ":", {line, ""}, "] ",
                  message, "\e[0m\n"
                ]
              }
            ]
          }
        ]
      }
    ]
  }
].